@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #40239a; /* Blue-700 */
  --color-secondary: #38ef92; /* Green-300 */
}
